@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KalendarzEX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_materia.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/js/site.js" />
    <style>
        .notes {
            width: 350px;
            min-height: 1200px;
            background-color: #336699;
            border-radius: 0px 25px 25px 0px;
            position: absolute;
            left: 0px;
            top: 143px;
            -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        }
        .event {
            min-height: 2rem;
            -webkit-box-shadow: 2px 2px 4px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 2px 2px 4px 0px rgba(66, 68, 90, 1);
            box-shadow: 2px 2px 4px 0px rgba(66, 68, 90, 1);
            border-radius: 5px;
            margin-bottom: 0.5rem;
        }
        .delButton{
            border-radius: 5px;
            margin-top:auto;
            float: right;
            height: 2rem;
        }
        .week {
            vertical-align:top;
            padding-top:0px;
            margin-bottom: 0.5rem;
        }
        .weekday{
            min-height: 50rem;
        }
        .soloday{
            width: 87.5rem;
        }
        .day {
            vertical-align: top;
            width: 12.5rem;
            display: block;
            height: 10rem;
            overflow: auto;
            float: left;
            margin: auto;
        }
        .day::-webkit-scrollbar {
          width: 7px;
          height: 7px;
        }
        .day::-webkit-scrollbar-button {
          width: 31px;
          height: 31px;
        }
        .day::-webkit-scrollbar-thumb {
          background: #185186;
          border: 0px none #ffffff;
          border-radius: 9px;
        }
        .day::-webkit-scrollbar-thumb:hover {
          background: #185186;
        }
        .day::-webkit-scrollbar-thumb:active {
          background: #185186;
        }
        .day::-webkit-scrollbar-track {
          background: #2894f4;
          border: 0px none #ffffff;
          border-radius: 42px;
        }
        .day::-webkit-scrollbar-track:hover {
          background: #2894f4;
        }
        .day::-webkit-scrollbar-track:active {
          background: #2894f4;
        }
        .day::-webkit-scrollbar-corner {
          background: transparent;
        }
        
    </style>
</head>
<body style="min-height:1400px;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="font-size: 20px;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img height="50" src="~/images/logo.png"></img></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - EventScheduler -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
